.callout {

  border-left-width: 5px;

  padding: unset;

  border-left-color: rgba(var(--callout-color), 0.4);

  box-shadow: none !important;

}

.callout-title {

  padding: 0.5em 1em;

  background-color: rgba(var(--callout-color), 0.1);

  color: rgba(255,255,255);

}

.callout-content {

  padding: 0.2em 1em;

}
